# Data config file for data recording from Grand Rapids EIS-4000.
#
# This file has four sections that should be reviewed by the user, and edited
# as necessary:
#
# Section 1 is used to specify the default data rate, in records per second
#           and the recording duration in minutes.
#
# Section 2 is used to select which parametres are recorded.  
#
# Section 3 is used to specify the order of the parametres, the label that
#           will be applied to the parametres and the units.  
# 
# Section 4 is used to specify any special scaling that must be applied.
#
###############################################################################

# Section 1 - Default data rate and duration.
#
# data rate is in records per second
# duration is in minutes - it must be a whole number.  No decimals.

default data rate = 2
default duration = 600

# Section 2 - Parametres to record.
# "1" indicates a parametre to be recorded.  
# "0" indicates parametres to be ignored.

TACH        Record = 1
CHT1        Record = 1
CHT2        Record = 1
CHT3        Record = 1
CHT4        Record = 1
CHT5        Record = 0
CHT6        Record = 0
EGT1        Record = 1
EGT2        Record = 1
EGT3        Record = 1
EGT4        Record = 1
EGT5        Record = 0
EGT6        Record = 0
DAUX1       Record = 0
DAUX2       Record = 0
ASPD        Record = 0
ALT         Record = 0
VOLT        Record = 1
FUEL_FLOW   Record = 1
UNIT_TEMP   Record = 1
CARB        Record = 0
ROCSGN      Record = 0
OAT         Record = 1
OILT        Record = 1
OILP        Record = 1
AUX1        Record = 1
AUX2        Record = 0
AUX3        Record = 0
AUX4        Record = 0
COOL        Record = 0
ETI         Record = 1
QTY         Record = 1
HRS         Record = 1
MIN         Record = 1
SEC         Record = 1
ENDHRS      Record = 1
ENDMIN      Record = 1
BARO        Record = 0
MAGHD       Record = 0

# Section 3 - Parametre Labels
# The parametres are written to the data file in the order listed below.
# Only the parametres indicated in Section 1 are written to the data file.
# The parametres are labeled in the data file as specified below.

TACH        Label = RPM				Units = RPM
AUX1        Label = MP				Units = in HG
OAT         Label = OAT				Units = deg C
FUEL_FLOW   Label = Fuel Flow		Units = USG/hr
QTY         Label = Fuel Qty		Units = USG
CHT1        Label = CHT 1			Units = deg C
CHT2        Label = CHT 2			Units = deg C
CHT3        Label = CHT 3			Units = deg C
CHT4        Label = CHT 4			Units = deg C
CHT5        Label = CHT 5			Units = deg C
CHT6        Label = CHT 6			Units = deg C
EGT1        Label = EGT 1			Units = deg C
EGT2        Label = EGT 2			Units = deg C
EGT3        Label = EGT 3			Units = deg C
EGT4        Label = EGT 4			Units = deg C
EGT5        Label = EGT 5			Units = deg C
EGT6        Label = EGT 6			Units = deg C
OILT        Label = Oil Temp		Units = deg C
OILP        Label = Oil Press		Units = psi
DAUX1       Label = DAUX 1			Units = ?
DAUX2       Label = DAUX 2			Units = ?
ASPD        Label = Airspeed		Units = kt
ALT         Label = Altitude		Units = ft
VOLT        Label = Volt			Units = volt
CARB        Label = Carb Temp		Units = deg C
ROCSGN      Label = Rate of Climb	Units = ft/mn
AUX2        Label = Aux 2			Units = ?
AUX3        Label = Aux 3			Units = ?
AUX4        Label = Aux 4			Units = ?
COOL        Label = Water Temp		Units = deg C
ETI         Label = Hour Meter		Units = hr
HRS         Label = Hrs				Units = hr
MIN         Label = Min				Units = mn
SEC         Label = Sec				Units = s
ENDHRS      Label = Hours End		Units = hr
ENDMIN      Label = Min End			Units = mn
BARO        Label = Altimeter		Units = in HG
MAGHD       Label = Heading			Units = deg
UNIT_TEMP   Label = Unit Temp		Units = deg C

# Section 4 - Parametre Scaling
# The parametre is multiplied by the scaling factor before recording it to disk.

TACH          Scaling = 1
CHT1          Scaling = 1
CHT2          Scaling = 1
CHT3          Scaling = 1
CHT4          Scaling = 1
CHT5          Scaling = 1
CHT6          Scaling = 1
EGT1          Scaling = 1
EGT2          Scaling = 1
EGT3          Scaling = 1
EGT4          Scaling = 1
EGT5          Scaling = 1
EGT6          Scaling = 1
DAUX1         Scaling = 1
DAUX2         Scaling = 1
ASPD          Scaling = 1
ALT           Scaling = 1
VOLT          Scaling = 0.1
FUEL_FLOW     Scaling = 0.1
UNIT_TEMP     Scaling = 1
CARB          Scaling = 1
ROCSGN        Scaling = 1
OAT           Scaling = 1
OILT          Scaling = 1
OILP          Scaling = 1
AUX1          Scaling = 0.1
AUX2          Scaling = 1
AUX3          Scaling = 1
AUX4          Scaling = 1
COOL          Scaling = 1
ETI           Scaling = 0.1
QTY           Scaling = 0.1
HRS           Scaling = 1
MIN           Scaling = 1
SEC           Scaling = 1
ENDHRS        Scaling = 1
ENDMIN        Scaling = 1
BARO          Scaling = 1
MAGHD         Scaling = 1

