# Data config file for data recording from Dynon Avionics D-10A EFIS.
#
# This file has four sections that should be reviewed by the user, and edited
# as necessary:
#
# Section 1 is used to specify the default data rate, in records per second
#           and the recording duration in minutes.
#
# Section 2 is used to select which parametres are recorded.  
#
# Section 3 is used to specify the order of the parametres, the label that
#           will be applied to the parametres and the units.  
# 
# Section 4 is used to specify any special scaling that must be applied.
#
###############################################################################

# Section 1 - Default data rate and duration.
#
# data rate is in records per second
# duration is in minutes - it must be a whole number.  No decimals.

default data rate = 8
default duration = 1

###############################################################################
# Section 2 - Parametres to record.
# "1" indicates a parametre to be recorded to disk.  
# "0" indicates parametres to be ignored.

Hour             Record = 1
Minute           Record = 1
Second           Record = 1
Counter          Record = 1
Pitch            Record = 1
Roll             Record = 1
Heading          Record = 1
IAS              Record = 1
Altitude         Record = 1
Turn_Rate        Record = 1
Ny               Record = 1
Nz               Record = 1
AOA              Record = 0
Status_Bit_Mask  Record = 0
Product_ID       Record = 0
      
      
###############################################################################
# Section 3 - Parametre Labels
# The parametres are written to the data file in the order listed below.
# Only the parametres indicated in Section 1 are written to the data file.
# The parametres are labeled in the data file as specified below.

Hour				Label = Hr					Units = Hr
Minute				Label = Mn					Units = Mn
Second				Label = Sec					Units = Sec
Counter				Label = fractions of sec	Units = .sec
Pitch				Label = Pitch				Units = deg
Roll				Label = Bank				Units = deg
Heading				Label = Heading				Units = deg mag
IAS					Label = IAS					Units = KIAS
Altitude			Label = Baro Altitude		Units = ft
Turn_Rate			Label = Yaw rate			Units = deg/s
Ny					Label = Ny					Units = g
Nz					Label = Nz					Units = g
AOA					Label = AOA					Units = ??
Status_Bit_Mask		Label = Status				Units = ??
Product_ID			Label = Product ID			Units = ??

###############################################################################
# Section 4 - Parametre Scaling
# The parametre is multiplied by the scaling factor before recording it to disk.

Hour             Scaling = 1
Minute           Scaling = 1
Second           Scaling = 1
Counter          Scaling = 1
Pitch            Scaling = 0.1
Roll             Scaling = 0.1
Heading          Scaling = 1
# convert from tenths of meter/sec to knots
IAS              Scaling = 0.1943846
# convert from meters to feet
Altitude         Scaling = 3.28084
Turn_Rate        Scaling = 0.1
# convert from hundredths of g
Ny               Scaling = 0.01
# convert from tenths of g
Nz               Scaling = 0.1
AOA              Scaling = 0.01
Status_Bit_Mask  Scaling = 1
Product_ID       Scaling = 1

